GraphicsPipeline(
    shaders: {
        Task: (
            path: "mesh_shader_culling/mesh_shader_culling.spv",
            entry_point: "taskMain",
        ),
        Mesh: (
            path: "mesh_shader_culling/mesh_shader_culling.spv",
            entry_point: "meshMain",
        ),
        Fragment: (
            path: "mesh_shader_culling/mesh_shader_culling.spv",
            entry_point: "fragmentMain",
        ),
    },
    layout: Inline(
        PipelineLayout(
            push_constants: {
                Task: (0, 12)
            }
        )
    ),
    attachments: [
        (
            blend_enable: true,
            blend_equation: (
                color: (One, Add, OneMinusSrcAlpha),
                alpha: (One, Add, OneMinusSrcAlpha),
            ),
            format: B8G8R8A8_SRGB,
        )
    ]
)
