ComputePipeline(
    shader: (
        path: "radiance_cascades/radiance_cascades.spv",
        entry_point: "make_lines",
    ),
    layout: Inline(
        PipelineLayout(
            push_constants: {
                Compute: (0, 64)
            },
            sets: [
                Inline(
                    DescriptorSetLayout(
                        bindings: [
                            (
                                binding: 0,
                                ty: StorageBuffer,
                                count: 1,
                                stages: [Compute],
                                update_after_bind_pool: false,
                                push_descriptor: true,
                            ),
                            (
                                binding: 1,
                                ty: StorageImage,
                                count: 1,
                                stages: [Compute],
                            ),
                            (
                                binding: 2,
                                ty: StorageImage,
                                count: 1,
                                stages: [Compute],
                            ),
                            (
                                binding: 3,
                                ty: StorageImage,
                                count: 1,
                                stages: [Compute],
                            ),
                            (
                                binding: 4,
                                ty: StorageImage,
                                count: 1,
                                stages: [Compute],
                            )
                        ],
                        update_after_bind_pool: false,
                        push_descriptor: true,
                    )
                )
            ]
        )
    ),
    disable_optimization: false,
    dispatch_base: false,
)
