GraphicsPipeline(
    shaders: {
        Vertex: (
            path: "embedded://pumicite_egui/shaders/egui.spv",
            entry_point: "vertexMain",
        ),
        Fragment: (
            path: "embedded://pumicite_egui/shaders/egui.spv",
            entry_point: "fragmentMain",
        ),
    },
    layout: Inline(
        PipelineLayout(
            sets: [
                Inline(
                    DescriptorSetLayout(
                        push_descriptor: true,
                        bindings: [
                            Binding(
                                binding: 0,
                                ty: CombinedImageSampler,
                                stages: [Fragment]
                            )
                        ]
                    )
                )
            ],
            push_constants: {
                Vertex: (0, 8),
            }
        )
    ),
    vertex_bindings: {
        0: (
            stride: 20,
            input_rate: Vertex,
            attributes: {
                0: (
                    offset: 0,
                    format: R32G32_SFLOAT,
                ),
                1: (
                    offset: 8,
                    format: R32G32_SFLOAT,
                ),
                2: (
                    offset: 16,
                    format: R8G8B8A8_UNORM,
                )
            }
        )
    },
    attachments: [
        (
            blend_enable: true,
            blend_equation: (
                color: (One, Add, OneMinusSrcAlpha),
                alpha: (OneMinusDstAlpha, Add, One),
            ),
            format: B8G8R8A8_UNORM, // Modified with settings
        )
    ]
)
